@import "../../../../../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  padding: 0 3rem;
  z-index: 2;
}

.header__logo { }

.header__navigation {
  display: none;

  @media (min-width: $breakpoint-l) {
    display: inline-block;
  }
}

.header__burger {
  margin-right: 1.5rem;

  @media (min-width: $breakpoint-l) {
    display: none;
  }
}

:host(.header--cart)::ng-deep .navigation__link {
  color: map-get($theme, text-primary);
}
