@import "../../../../../scss/variables";

.footer {
  background-color: map-get($theme, background-secondary);
  flex-direction: column;
  padding: 3rem 0;

  @media (min-width: $breakpoint-xl) {
    flex-direction: row;
  }
}

.footer--fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
}

.footer__col {
  padding: 0 3.5rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-right: 0;

  @media (min-width: $breakpoint-xl) {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.footer__text,
.footer__link {
  color: map-get($theme, text-secondary);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer__text {
  flex: 0 0 100%;
  margin: 0.3rem 0;
  text-align: center;

  @media (min-width: $breakpoint-s) {
    flex: 0 0 auto;
  }
}

.footer__text--spacer {
  display: none;

  @media (min-width: $breakpoint-s) {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.footer__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__link--tomeno {
  &:hover {
    text-decoration: none;
  }
}

.footer__icon {
  font-size: 3.6rem;
}