@import "../../../../../scss/variables";

.footer {
  height: 12rem;
  background-color: map-get($theme, background-secondary);
}

.footer__col {
  padding: 0 3.5rem;
}

.footer__text,
.footer__link {
  color: map-get($theme, text-secondary);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer__text { }

.footer__text--spacer {
  margin: 0 2rem;
}

.footer__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}