<janhanko-header class="header--cart"></janhanko-header>

<janhanko-social-media-bar></janhanko-social-media-bar>

<div class="cart">
  <h1 class="cart__name">Objednávka</h1>
  <h2 class="cart__subname">Dodací údaje</h2>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="Jméno a příjmení"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="E-mail"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="Telefon"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="Ulice a číslo popisné"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="PSČ"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="Město"></ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input type="text" [control]="form.controls.test" placeholder="Poznámka" additionalPlaceholder="volitelné"></ui-input>
    </ui-col>
  </ui-row>
</div>

<janhanko-footer></janhanko-footer>