@mixin icon-button-theme($theme) {
  $font-primary: map-get($theme, font-primary);
  $font-weight-normal: map-get($theme, font-weight-normal);

  $text-primary: map-get($theme, text-primary);

  .ui-icon-button {
    background-color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .ui-icon-button--disabled {
    opacity: 0.5;
  }
}