@import "../../../../../scss/variables";

:host {
  display: block;
  min-height: 100vh;
  background: map-get($theme, background-primary) url('../../../../../assets/images/YOUTUBE.jpg') no-repeat top center;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 75%);
}