<janhanko-header></janhanko-header>

<div class="article">
  <ng-container *ngIf="!loading" [@fadeInOut]>
    <h1 class="article__name" [ngClass]="'article__name--' + article?.color">
      {{ article?.name }}
    </h1>

    <div class="article__content">
        <ui-row class="product-list">
          <ui-col class="product" *ngFor="let product of products">
            <janhanko-product [product]="product"></janhanko-product>
          </ui-col>
        </ui-row>
    </div>
  </ng-container>
</div>

<janhanko-social-media-bar></janhanko-social-media-bar>

<janhanko-footer></janhanko-footer>