@import "../../../core/functions/get-text-color";

@mixin button-theme($theme) {
  $font-primary: map-get($theme, font-secondary);
  $font-weight-normal: map-get($theme, font-weight-normal);

  $text-primary: map-get($theme, text-primary);
  $text-secondary: map-get($theme, text-secondary);

  $button-neutral: map-get($theme, button-neutral);
  $button-positive: map-get($theme, button-positive);
  $button-negative: map-get($theme, button-negative);

  $color-primary: map-get($theme, color-primary);
  $color-secondary: map-get($theme, color-secondary);

  $text-neutral: get-text-color($button-neutral, $text-secondary, $text-primary);
  $text-positive: get-text-color($button-positive, $text-secondary, $text-primary);
  $text-negative: get-text-color($button-negative, $text-secondary, $text-primary);

  .ui-button {
    background-color: transparent;
    color: $text-primary;
    font-family: $font-primary;
    font-weight: $font-weight-normal;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .ui-button--disabled {
    opacity: 0.5;
  }

  .ui-button--neutral {
    background-color: $button-neutral;
    color: $text-neutral;

    &:hover {
      background-color: darken($button-neutral, 10);
    }
  }

  .ui-button--positive {
    background-color: $button-positive;
    color: $text-positive;

    &:hover {
      background-color: darken($button-positive, 10);
    }
  }

  .ui-button--negative {
    background-color: $button-negative;
    color: $text-negative;

    &:hover {
      background-color: darken($button-negative, 10);
    }
  }
}
