.ui-input--checkbox {
  margin-bottom: 2px;
}

.ui-input__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  [disabled] > & {
    opacity: 0.4;
    cursor: default;
  }
}

.ui-input__checkbox-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.ui-input__checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid;
  margin-right: 10px;
}

.ui-input__text { }

.ui-input__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.ui-input__checkmark--checked:after {
  display: block;
}

.ui-input__checkmark:after {
  left: 11px;
  top: -2px;
  width: 7px;
  height: 15px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
