@import "../../../../../scss/variables";

:host {
  display: block;
  height: 100vh;
  background-color: transparent;
}

.homepage {
  &__slides {
    height: 100%;
    position: relative;
  }

  &__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.homepage__title {
  font-size: 30rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: map-get($theme, text-secondary);
  font-weight: map-get($theme, font-weight-medium);
  transform: rotate(-11deg) skew(-11deg);
  margin-bottom: 15rem;
}
