@import "scss/variables";
@import "scss/reset";
@import "scss/fonts";

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-connected-position-bounding-box {
  flex-direction: column;
}

.cdk-global-overlay-wrapper, .cdk-overlay-connected-position-bounding-box {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  z-index: 3;
  max-width: 100%;
  max-height: 100%;
}
