@mixin text-theme($theme) {
  $font-primary:    map-get($theme, font-primary);
  $font-weight:     map-get($theme, font-weight-medium);
  $text-primary:    map-get($theme, text-primary);
  $text-secondary:  map-get($theme, text-alternative);
  $color-primary:   map-get($theme, color-secondary);
  $toast-error:     map-get($theme, toast-error);

  .ui-input__element {
    border-color: $text-primary;
    font-family: $font-primary;
  }

  .ui-input__element--focused {
    border-color: $color-primary;
  }

  .ui-input__placeholder {
    font-family: $font-primary;
    font-weight: $font-weight;
  }

  .ui-input__placeholder--additional {
    color: $text-primary;
  }

  .ui-input__error {
    color: $toast-error;
  }
}
