* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: map-get($theme, font-primary);
  font-weight: map-get($theme, font-weight-light);
  color: map-get($theme, text-primary);
  overflow-y: scroll;
}

h1 { }

h2 { }
